<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="background:linear-gradient(120deg,#7f70f5,#0ea0ff);color:#ffffff;position: fixed;width: 100%;box-shadow: 0 8px 20px -6px #2c2c2c8c;">
        <div class="container">
            <span>
                <img src="/static/favicon.png" style="height: 71px;">
                <!-- <i class="fa fa-globe"></i>   -->
                <img src="/static/logo.png" style="height: 50px;">
            </span>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/" style="color:#ffffff;"><i class="fa fa-home"></i>&nbsp;Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/movies" style="color:#ffffff;"><i class="fa fa-wpexplorer"></i>&nbsp;Movies</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/upcoming" style="color:#ffffff;"><i class="fa fa-star-o"></i>&nbsp;Upcoming Movies</a></li>
                </ul>
            </div>
        </div>
</nav>
      